<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/estilos.css" />
    <meta charset="UTF-8" />
    <title>Proyecto web</title>
</head>
<body>

<h1>Revisa tu presupuesto</h1>
<p>
    En esta página podrás revisar tu presupuesto y hacer un balance de tus gastos.
    Además, podrás generar una gráfica de tus movimientos financieros
    para evaluar si debes modificar tus transacciones.
</p>

<button id="ingresos">Añadir ingreso</button>
<button id="eliminarIngreso">Eliminar ingreso</button>
<input type="number" id="inputIngresos" placeholder="Registra tu ingreso" />
<p id="ingresoMostrado"></p>

<br /><br />

<button id="egresos">Añadir campo de egreso</button>
<button id="eliminarEgreso">Eliminar último campo de egreso</button>
<div id="egresosContainer">
    <input type="number" class="inputEgresos" placeholder="Egreso: Descripción" />
</div>

<br /><br />

<button id="sumar">Sumar egresos</button>
<p id="resultadoTotal"></p>

<br /><br />

<button id="graficar">Generar gráfica</button>
<br /><br/>
<canvas id="graficaPastel" width="400" height="400"></canvas>

<script th:src="@{/js/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</body>
</html>
